 <Worksheet ss:Name="quadro3.2B1">
  <Table ss:ExpandedColumnCount="255" ss:ExpandedRowCount="400" x:FullColumns="1"
   x:FullRows="1" ss:StyleID="s318" ss:DefaultColumnWidth="99.75"
   ss:DefaultRowHeight="15">
   <Column ss:StyleID="s319" ss:AutoFitWidth="0" ss:Width="112.5"/>
   <Column ss:StyleID="s320" ss:AutoFitWidth="0" ss:Width="6"/>
   <Column ss:StyleID="s319" ss:AutoFitWidth="0" ss:Width="116.25"/>
   <Column ss:StyleID="s320" ss:AutoFitWidth="0" ss:Width="2.25"/>
   <Column ss:StyleID="s321" ss:AutoFitWidth="0" ss:Width="161.25"/>
   <Column ss:StyleID="s320" ss:AutoFitWidth="0" ss:Width="3.75"/>
   <Column ss:StyleID="s66" ss:AutoFitWidth="0" ss:Width="162.75"/>
   <Column ss:StyleID="s320" ss:AutoFitWidth="0" ss:Width="4.5"/>
   <Column ss:StyleID="s318" ss:AutoFitWidth="0" ss:Width="156"/>
   <Column ss:StyleID="s323" ss:AutoFitWidth="0" ss:Width="4.5"/>
   <Column ss:StyleID="s323" ss:AutoFitWidth="0" ss:Width="147"/>
   <Column ss:StyleID="s323" ss:AutoFitWidth="0" ss:Width="5.25"/>
   <Column ss:StyleID="s318" ss:AutoFitWidth="0" ss:Width="150.75"/>
   <Column ss:StyleID="s323" ss:AutoFitWidth="0" ss:Width="6"/>
   <Column ss:StyleID="s324" ss:AutoFitWidth="0" ss:Width="107.25"/>
   <Column ss:StyleID="s325" ss:AutoFitWidth="0" ss:Width="59.25" ss:Span="26"/>
   <Column ss:Index="43" ss:StyleID="s318" ss:AutoFitWidth="0" ss:Width="59.25"
    ss:Span="194"/>
   <Column ss:Index="238" ss:StyleID="s318" ss:AutoFitWidth="0" ss:Width="112.5"/>
   <Column ss:StyleID="s318" ss:AutoFitWidth="0" ss:Width="47.25"/>
   <Column ss:StyleID="s318" ss:AutoFitWidth="0" ss:Width="53.25" ss:Span="1"/>
   <Column ss:Index="242" ss:StyleID="s318" ss:AutoFitWidth="0" ss:Width="44.25"
    ss:Span="1"/>
   <Column ss:Index="244" ss:StyleID="s318" ss:AutoFitWidth="0" ss:Width="63"
    ss:Span="4"/>
   <Column ss:Index="249" ss:StyleID="s318" ss:AutoFitWidth="0" ss:Width="75"/>
   <Column ss:StyleID="s318" ss:AutoFitWidth="0" ss:Width="42"/>
   <Column ss:StyleID="s318" ss:AutoFitWidth="0" ss:Width="63.75"/>
   <Column ss:StyleID="s318" ss:AutoFitWidth="0" ss:Width="66.75"/>
   <Column ss:StyleID="s318" ss:AutoFitWidth="0" ss:Width="73.5"/>
   <Column ss:StyleID="s318" ss:AutoFitWidth="0" ss:Width="62.25" ss:Span="1"/>
   <Row ss:AutoFitHeight="0" ss:Height="63" ss:StyleID="s325">
    <Cell ss:MergeAcross="14" ss:StyleID="m339202184"><Data ss:Type="String">ATUALIZAÇÃO DO QUADRO DEMONSTRATIVO DE RECURSOS HUMANOS EXISTENTES VINCULADO AO DSEI </Data></Cell>
   </Row>
   <Row ss:AutoFitHeight="0" ss:StyleID="s325">
    <Cell ss:StyleID="s321"/>
    <Cell ss:StyleID="s320"/>
    <Cell ss:StyleID="s321"/>
    <Cell ss:StyleID="s320"/>
    <Cell ss:StyleID="s321"/>
    <Cell ss:StyleID="s320"/>
    <Cell ss:StyleID="s320"/>
    <Cell ss:StyleID="s320"/>
    <Cell ss:Index="10" ss:StyleID="s323"/>
    <Cell ss:StyleID="s323"/>
    <Cell ss:StyleID="s323"/>
    <Cell ss:Index="14" ss:StyleID="s323"/>
    <Cell ss:StyleID="s324"/>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="49.5" ss:StyleID="s334">
    <Cell ss:StyleID="s335"><Data ss:Type="String">NOME</Data></Cell>
    <Cell ss:StyleID="s336"/>
    <Cell ss:StyleID="s335"><Data ss:Type="String">CATEGORIAS PROFISSIONAIS</Data></Cell>
    <Cell ss:StyleID="s336"/>
    <Cell ss:StyleID="s337"><Data ss:Type="String">FUNÇÃO</Data></Cell>
    <Cell ss:StyleID="s336"/>
    <Cell ss:StyleID="s339"><Data ss:Type="String">LOTAÇÃO</Data></Cell>
    <Cell ss:StyleID="s336"/>
    <Cell ss:StyleID="s337"><Data ss:Type="String">LOCAL DE TRABALHO</Data></Cell>
    <Cell ss:StyleID="s340"/>
    <Cell ss:StyleID="s341"><Data ss:Type="String">VÍNCULO</Data></Cell>
    <Cell ss:StyleID="s340"/>
    <Cell ss:StyleID="s337"><Data ss:Type="String">TIPO DE VÍNCULO</Data></Cell>
    <Cell ss:StyleID="s336"/>
    <Cell ss:StyleID="s335"><Data ss:Type="String"> TRABALHADOR INDÍGENA</Data></Cell>
    <Cell ss:StyleID="s342"/>
    <Cell ss:StyleID="s342"/>
    <Cell ss:StyleID="s342"/>
    <Cell ss:StyleID="s342"/>
    <Cell ss:StyleID="s342"/>
    <Cell ss:StyleID="s342"/>
    <Cell ss:StyleID="s342"/>
    <Cell ss:StyleID="s342"/>
    <Cell ss:StyleID="s342"/>
    <Cell ss:StyleID="s342"/>
    <Cell ss:StyleID="s342"/>
    <Cell ss:StyleID="s342"/>
    <Cell ss:StyleID="s342"/>
    <Cell ss:StyleID="s342"/>
    <Cell ss:StyleID="s342"/>
    <Cell ss:StyleID="s342"/>
    <Cell ss:StyleID="s342"/>
    <Cell ss:StyleID="s342"/>
    <Cell ss:StyleID="s342"/>
    <Cell ss:StyleID="s342"/>
    <Cell ss:StyleID="s342"/>
    <Cell ss:StyleID="s342"/>
    <Cell ss:StyleID="s342"/>
    <Cell ss:StyleID="s342"/>
    <Cell ss:StyleID="s342"/>
    <Cell ss:StyleID="s342"/>
    <Cell ss:StyleID="s342"/>
   </Row>
   <%= @pdsi.people.includes(:human_resource_function).each do |pp| %>
     <Row ss:AutoFitHeight="0" ss:Height="53.25">
      <Cell ss:StyleID="s343"><Data ss:Type="String"><%= pp.name %></Data></Cell>
      <Cell ss:StyleID="s344"/>
      <Cell ss:StyleID="s345"><Data ss:Type="String"><%= pp.human_resource_function.name %></Data></Cell>
      <Cell ss:StyleID="s344"/>
      <Cell ss:StyleID="s345"><Data ss:Type="String"><%= pp.role %></Data></Cell>
      <Cell ss:StyleID="s344"/>
      <Cell ss:StyleID="s346"><Data ss:Type="String"><%= pp.location %></Data></Cell>
      <Cell ss:StyleID="s344"/>
      <Cell ss:StyleID="s347"><Data ss:Type="String"><%= pp.workplace %></Data></Cell>
      <Cell ss:StyleID="s348"/>
      <Cell ss:StyleID="s346"><Data ss:Type="String"><%= pp.bond %></Data></Cell>
      <Cell ss:StyleID="s349"/>
      <Cell ss:StyleID="s350"><Data ss:Type="String"><%= pp.bond_type %></Data></Cell>
      <Cell ss:StyleID="s351"/>
      <Cell ss:StyleID="s347"><Data ss:Type="String"><%= pp.indigenous_worker ? 'Sim' : 'Não' %></Data></Cell>
     </Row>
   <% end %>
   <Row ss:AutoFitHeight="0">
    <Cell ss:StyleID="s325"/>
    <Cell ss:StyleID="s325"/>
    <Cell ss:StyleID="s325"/>
    <Cell ss:StyleID="s325"/>
    <Cell ss:StyleID="s325"/>
    <Cell ss:StyleID="s325"/>
    <Cell ss:StyleID="s325"/>
    <Cell ss:StyleID="s325"/>
    <Cell ss:StyleID="s325"/>
    <Cell ss:StyleID="s325"/>
    <Cell ss:StyleID="s325"/>
    <Cell ss:StyleID="s325"/>
    <Cell ss:StyleID="s325"/>
    <Cell ss:StyleID="s325"/>
    <Cell ss:StyleID="s325"/>
   </Row>
  </Table>
  <WorksheetOptions xmlns="urn:schemas-microsoft-com:office:excel">
   <PageSetup>
    <Header x:Margin="0.31496062000000002"/>
    <Footer x:Margin="0.31496062000000002"/>
    <PageMargins x:Bottom="0.78740157499999996" x:Left="0.511811024"
     x:Right="0.511811024" x:Top="0.78740157499999996"/>
   </PageSetup>
   <Unsynced/>
   <Panes>
    <Pane>
     <Number>3</Number>
     <ActiveRow>19</ActiveRow>
     <ActiveCol>16</ActiveCol>
    </Pane>
   </Panes>
   <ProtectObjects>False</ProtectObjects>
   <ProtectScenarios>False</ProtectScenarios>
  </WorksheetOptions>
  <DataValidation xmlns="urn:schemas-microsoft-com:office:excel">
   <Range>R4C15</Range>
   <Type>List</Type>
   <CellRangeList/>
   <Value>&quot;SIM, NÃO&quot;</Value>
  </DataValidation>
  <DataValidation xmlns="urn:schemas-microsoft-com:office:excel">
   <Range>R4C13</Range>
   <Type>List</Type>
   <CellRangeList/>
   <Value>&quot;SESAI/DSEI, Município, Estado, Convênio, Mais Médicos, Terceirização&quot;</Value>
  </DataValidation>
  <DataValidation xmlns="urn:schemas-microsoft-com:office:excel">
   <Range>R4C5:R4C6</Range>
   <Type>List</Type>
   <CellRangeList/>
   <Value>&quot;ministrativo, Administrador, Artífice, COZINHEIRA, Economista, Motorista, Motorista/ Piloto Fluvial, Operador de Rádio, Assessor Indígena, Médico, Enfermeiro, Cirurgião dentista, Assistente social, Nutricionista, Biólogo, Farmacêutico/ bioquímico, Quimico&quot;</Value>
  </DataValidation>
  <DataValidation xmlns="urn:schemas-microsoft-com:office:excel">
   <Range>R4C9</Range>
   <Type>List</Type>
   <CellRangeList/>
   <Value>&quot;UBSI, POLO BASE TIPO 1, POLO BASE TIPO 2, CASAI, SEAD, SELOG, SESANE, SEOFI, SGEP, Gabinete, DIASI&quot;</Value>
  </DataValidation>
 </Worksheet>

